@itemHeight: 150px;
@itemOverlayBgColor: #ffffe0;
@informationColor: #000;
header.row {
  margin-top: 45px;
}
.row {
  padding: 0 10px;
}
.phone-item {
  height: @itemHeight;
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.4s;
  position: relative;
  padding: 0;
  .item-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: @itemOverlayBgColor;
    opacity: 0;
    transition: all 0.2s;
    top: @itemHeight / 2;
  }
  .item-overlay.animation {
    opacity: 0.8;
    top: 0;
  }
  .information {
    padding: @itemHeight/2.5 10px;
    z-index: 3;
    position: relative;
    display: none;
    text-transform: uppercase;
    color: @informationColor;
    text-align: center;
    .name {
      font-weight: bold;
      margin-bottom: 2px;
    }
    .price {}
  }
}
.focus-item {
  transform-origin: center;
  transform: scale(1.8);
  z-index: 2;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.full-overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: all 0.5s;
}
